In [1]:
import pandas as pd

In [3]:
df= pd.read_csv('C:/Users/DR/Desktop/moving computer/UCD CERT in DATA/economic_freedom_index2019_data.csv', index_col=0)

In [4]:
df.head()

,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
CountryID,,,,,,,,,,,,,,,,,,,,,
1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,91.7,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,86.3,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.10",71.2
3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,76.4,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10,5.6,"1,203.00",25.8
4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,83.9,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.50",65.3
5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,69.3,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.00",52.6

In [6]:
df.tail()

,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
CountryID,,,,,,,,,,,,,,,,,,,,,
179,Venezuela,Venezuela,Americas,179.0,32.0,25.9,7.6,13.1,7.9,74.7,...,Venezuela,31.4,$380.7,-14.0,-7.8,"$12,114",7.7,1087.5,-68,34.9
180,Vietnam,Vietnam,Asia-Pacific,128.0,30.0,55.3,49.8,40.3,34.0,79.7,...,Vietnam,93.6,$647.4,6.8,6.2,"$6,913",2.1,3.5,"14,100.00",58.2
181,Yemen,Yemen,Middle East and North Africa,NaN,NaN,NaN,19.6,22.2,20.3,NaN,...,Yemen,30,$38.6,-13.8,-16.1,"$1,287",14,4.9,-269.9,141.0
182,Zambia,Zambia,Sub-Saharan Africa,138.0,27.0,53.6,45.0,35.6,32.3,72.3,...,Zambia,17.2,$68.9,3.6,4.0,"$3,996",7.8,6.6,"1,091.20",62.2
183,Zimbabwe,Zimbabwe,Sub-Saharan Africa,175.0,45.0,40.4,29.7,24.8,15.8,62.3,...,Zimbabwe,14.9,$34.0,3.0,2.6,"$2,283",5,1.3,289.4,78.4

In [7]:
df.describe()

,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,Gov't Spending,Fiscal Health,Business Freedom,...,Financial Freedom,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,GDP Growth Rate (%),5 Year GDP Growth Rate (%),Inflation (%),Public Debt (% of GDP)
count,180.000000,180.000000,180.000000,185.000000,185.000000,185.000000,180.000000,183.000000,183.000000,185.000000,...,181.000000,182.000000,183.000000,183.000000,179.000000,182.000000,184.000000,183.000000,182.000000,182.000000
mean,90.500000,20.538889,60.768333,52.327568,44.899459,41.470270,77.212778,64.203825,65.996721,63.514054,...,48.784530,5.986813,28.183060,23.891257,22.157542,33.863736,3.470109,2.984153,10.586264,56.469231
std,52.105662,12.738611,11.255725,19.608526,18.104745,19.793193,13.208314,23.150984,31.764160,15.799326,...,19.483982,5.533568,13.374339,8.858207,10.152671,15.476484,5.835732,2.926503,80.507501,34.163855
min,1.000000,1.000000,5.900000,7.600000,5.000000,7.900000,0.000000,0.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,1.600000,10.600000,-14.000000,-16.100000,-0.900000,0.000000
25%,45.750000,9.750000,53.950000,37.000000,31.000000,27.200000,70.975000,51.700000,39.900000,54.100000,...,30.000000,2.000000,20.000000,20.000000,14.250000,24.675000,1.800000,1.900000,1.300000,34.950000
50%,90.500000,19.500000,60.750000,50.100000,42.900000,35.500000,78.050000,68.800000,80.300000,64.300000,...,50.000000,4.300000,30.000000,25.000000,20.700000,32.350000,3.200000,3.000000,2.750000,49.900000
75%,135.250000,31.000000,67.800000,65.900000,54.700000,50.300000,85.425000,82.600000,91.450000,75.000000,...,60.000000,8.775000,35.000000,30.000000,29.850000,40.225000,4.650000,4.450000,5.450000,70.125000
max,180.000000,47.000000,90.200000,97.400000,92.400000,96.700000,99.800000,96.600000,100.000000,96.400000,...,90.000000,50.000000,60.000000,50.000000,47.000000,139.200000,70.800000,9.900000,1087.500000,236.400000

In [8]:
df["Tax Burden"]

CountryID
1      91.7
2      86.3
3      76.4
4      83.9
5      69.3
       ...
179    74.7
180    79.7
181     NaN
182    72.3
183    62.3
Name: Tax Burden, Length: 186, dtype: float64

In [9]:
list_of_columns = ["Property Rights", "Gov't Spending"]
df[list_of_columns]

           Property Rights  Gov't Spending
CountryID
1                     19.6            80.3
2                     54.8            73.9
3                     31.6            48.7
4                     35.9            80.7
5                     47.8            49.5
...                    ...             ...
179                    7.6            58.1
180                   49.8            74.1
181                   19.6            83.7
182                   45.0            80.1
183                   29.7            74.5

[186 rows x 2 columns]

In [10]:
df.loc[df["Country Name"]=="Australia"]

,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
CountryID,,,,,,,,,,,,,,,,,,,,,
7,Australia,Australia,Asia-Pacific,5.0,4.0,80.9,79.1,86.5,79.9,62.8,...,Australia,24.8,"$1,246.5",2.3,2.4,"$50,334",5.6,2.0,"46,368.00",41.6

In [11]:
df1=df[0:2]

In [12]:
df1

,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
CountryID,,,,,,,,,,,,,,,,,,,,,
1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,91.7,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,86.3,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.10",71.2

In [13]:
df1["World Rank"] == "Region Rank"

CountryID
1    False
2    False
Name: World Rank, dtype: bool

In [14]:
df1["World Rank"] > 100

CountryID
1     True
2    False
Name: World Rank, dtype: bool

In [17]:
df.isna().sum()

Country Name                   0
WEBNAME                        0
Region                         0
World Rank                     6
Region Rank                    6
2019 Score                     6
Property Rights                1
Judical Effectiveness          1
Government Integrity           1
Tax Burden                     6
Gov't Spending                 3
Fiscal Health                  3
Business Freedom               1
Labor Freedom                  2
Monetary Freedom               2
Trade Freedom                  4
Investment Freedom             2
Financial Freedom              5
Tariff Rate (%)                4
Income Tax Rate (%)            3
Corporate Tax Rate (%)         3
Tax Burden % of GDP            7
Gov't Expenditure % of GDP     4
Country                        0
Population (Millions)          0
GDP (Billions, PPP)            1
GDP Growth Rate (%)            2
5 Year GDP Growth Rate (%)     3
GDP per Capita (PPP)           2
Unemployment (%)               5
Inflation (%)                  4
FDI Inflow (Millions)          5
Public Debt (% of GDP)         4
dtype: int64

In [18]:
df.shape

(186, 33)

In [19]:
# Import data from SQL

In [20]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dr\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\dr\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import mysql.connector

In [22]:
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="password1234!",
    database='sys')

In [23]:
mycursor = mydb.cursor()
mycursor

In [24]:
mycursor.execute("Select * from sys.sys_config")

In [25]:
myresults = mycursor.fetchall()
type(myresults)

list

In [26]:
myresults[0]

('Afghanistan', '2201', datetime.datetime(2022, 3, 21, 16, 11, 33), None)

In [27]:
df_SQL = []   # Initialising empty list
for x in myresults:    # for loop to append each entry to a new list of lists
    df_SQL.append(list(x)) 
df_SQL = pd.DataFrame(df_SQL)  # Convert list of lists into a DataFrame
df_SQL.columns = mycursor.column_names # Add the columns names
df_SQL.head()

      variable value            set_time set_by
0  Afghanistan  2201 2022-03-21 16:11:33   None
1      Albania  1181 2022-03-21 16:11:33   None
2      Algeria  2762 2022-03-21 16:11:33   None
3      Andorra    84 2022-03-21 16:11:33   None
4       Angola    33 2022-03-21 16:11:33   None

In [28]:
improved_df_SQL=df_SQL.iloc[:,0:2]

In [29]:
improved_df_SQL

        variable value
0    Afghanistan  2201
1        Albania  1181
2        Algeria  2762
3        Andorra    84
4         Angola    33
..           ...   ...
192      Vietnam    35
193        Wales   512
194        Yemen   610
195       Zambia   390
196     Zimbabwe   369

[197 rows x 2 columns]

In [31]:
df.groupby('Region').mean()

,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,Gov't Spending,Fiscal Health,Business Freedom,...,Financial Freedom,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,GDP Growth Rate (%),5 Year GDP Growth Rate (%),Inflation (%),Public Debt (% of GDP)
Region,,,,,,,,,,,,,,,,,,,,,
Americas,90.156250,16.5,59.600000,48.265625,40.212500,38.028125,77.156250,70.109375,64.709375,62.368750,...,49.062500,6.281250,29.290625,26.937500,22.790625,30.453125,1.587500,2.006250,38.368750,58.481250
Asia-Pacific,92.767442,22.0,60.634884,54.044186,46.116279,41.888372,81.186047,67.209302,70.572093,66.146512,...,42.558140,6.195349,24.307143,22.745238,17.111905,33.230233,4.332558,4.180952,3.595238,46.707143
Europe,48.863636,22.5,68.627273,70.031818,56.590909,55.811364,72.102273,46.718182,85.063636,74.797727,...,62.888889,2.309091,30.484444,19.184444,33.781818,41.427273,3.468182,2.472727,2.579545,59.950000
Middle East and North Africa,90.285714,7.5,61.257143,47.966667,44.827778,40.594444,87.721429,58.070588,41.964706,63.027778,...,52.857143,5.806250,17.617647,16.558824,13.371429,41.993750,4.817647,1.123529,5.417647,62.629412
Sub-Saharan Africa,127.702128,24.0,54.182979,38.904167,36.243750,30.572917,75.270213,76.021277,53.529787,51.758333,...,39.574468,9.100000,32.510638,30.000000,17.970213,26.917021,3.477083,3.716667,7.282979,58.336170

In [32]:
df.groupby('Region').median()

,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,Gov't Spending,Fiscal Health,Business Freedom,...,Financial Freedom,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,GDP Growth Rate (%),5 Year GDP Growth Rate (%),Inflation (%),Public Debt (% of GDP)
Region,,,,,,,,,,,,,,,,,,,,,
Americas,80.5,16.5,62.20,49.15,37.75,33.35,77.1,75.5,79.75,64.50,...,50.0,6.20,30.0,29.0,22.70,28.60,2.20,2.15,3.05,50.8
Asia-Pacific,105.0,22.0,57.80,49.90,42.50,36.40,84.0,71.7,82.40,67.30,...,40.0,4.00,25.0,24.5,15.60,30.70,4.00,3.95,3.20,40.7
Europe,45.0,22.5,67.95,70.65,51.75,48.80,75.6,46.4,88.10,75.10,...,70.0,2.00,31.8,19.0,33.80,42.25,3.25,2.50,1.85,52.0
Middle East and North Africa,89.0,7.5,60.90,51.05,45.20,35.95,91.6,62.7,20.00,64.05,...,60.0,4.05,15.0,20.0,11.35,36.45,2.00,3.10,2.00,58.0
Sub-Saharan Africa,134.0,24.0,54.00,35.85,34.40,28.10,76.2,79.4,62.30,53.30,...,40.0,9.40,35.0,30.0,16.50,26.20,3.75,3.80,5.30,53.4

In [65]:
df_group1=df.groupby(['Region', 'GDP per Capita (PPP)']).median()
df_group1

                                         World Rank  Region Rank  2019 Score  \
Region             GDP per Capita (PPP)
Americas           $1,815                     143.0         25.0        52.7
                   $11,102                     72.0         14.0        63.6
                   $11,482                    170.0         29.0        46.9
                   $11,491                     55.0         10.0        65.8
                   $12,114                    179.0         32.0        25.9
...                                             ...          ...         ...
Sub-Saharan Africa $6,944                      73.0          4.0        63.1
                   $677                       161.0         38.0        49.1
                   $735                       162.0         39.0        48.9
                   $790                       157.0         34.0        50.3
                   $9,884                     132.0         23.0        54.7

                                         Property Rights  \
Region             GDP per Capita (PPP)
Americas           $1,815                           10.4
                   $11,102                          49.2
                   $11,482                          35.9
                   $11,491                          36.5
                   $12,114                           7.6
...                                                  ...
Sub-Saharan Africa $6,944                           44.1
                   $677                             19.6
                   $735                             20.6
                   $790                             25.3
                   $9,884                           41.7

                                         Judical Effectiveness  \
Region             GDP per Capita (PPP)
Americas           $1,815                                 25.3
                   $11,102                                63.8
                   $11,482                                20.2
                   $11,491                                63.8
                   $12,114                                13.1
...                                                        ...
Sub-Saharan Africa $6,944                                 49.0
                   $677                                   29.6
                   $735                                   31.0
                   $790                                   30.7
                   $9,884                                 42.9

                                         Government Integrity  Tax Burden  \
Region             GDP per Capita (PPP)
Americas           $1,815                                20.3        79.9
                   $11,102                               54.5        72.1
                   $11,482                               25.3        77.0
                   $11,491                               50.5        71.2
                   $12,114                                7.9        74.7
...                                                       ...         ...
Sub-Saharan Africa $6,944                                43.7        76.4
                   $677                                  23.2        65.2
                   $735                                  26.2        74.0
                   $790                                  26.2        73.8
                   $9,884                                35.0        74.8

                                         Gov't Spending  Fiscal Health  \
Region             GDP per Capita (PPP)
Americas           $1,815                          88.3           95.9
                   $11,102                         53.5           84.7
                   $11,482                         55.5           32.1
                   $11,491                         74.3           85.0
                   $12,114                         58.1           17.6
...                                                 ...            ...
Sub-Saharan Africa $6,944                          71.2           59.7
                   $677                            94.2           94.3
                   $735                            83.3           23.3
                   $790                            93.9           96.9
                   $9,884                          65.6           18.3

                                         Business Freedom  ...  \
Region             GDP per Capita (PPP)                    ...
Americas           $1,815                            36.2  ...
                   $11,102                           70.7  ...
                   $11,482                           54.1  ...
                   $11,491                           76.5  ...
                   $12,114                           33.9  ...
...                                                   ...  ...
Sub-Saharan Africa $6,944                            65.2  ...
                   $677                              24.2  ...
                   $735                              50.3  ...
                   $790                              53.2  ...
                   $9,884                            59.2  ...

                                         Financial Freedom  Tariff Rate (%)  \
Region             GDP per Capita (PPP)
Americas           $1,815                             30.0              6.5
                   $11,102                            30.0              8.4
                   $11,482                            40.0              6.8
                   $11,491                            40.0              9.2
                   $12,114                            10.0             10.0
...                                                    ...              ...
Sub-Saharan Africa $6,944                             60.0             10.9
                   $677                               30.0             14.5
                   $735                               30.0              5.9
                   $790                               20.0             11.2
                   $9,884                             40.0              1.2

                                         Income Tax Rate (%)  \
Region             GDP per Capita (PPP)
Americas           $1,815                               30.0
                   $11,102                              35.0
                   $11,482                              35.0
                   $11,491                              32.5
                   $12,114                              34.0
...                                                      ...
Sub-Saharan Africa $6,944                               35.0
                   $677                                 50.0
                   $735                                 35.0
                   $790                                 30.0
                   $9,884                               33.0

                                         Corporate Tax Rate (%)  \
Region             GDP per Capita (PPP)
Americas           $1,815                                  30.0
                   $11,102                                 30.0
                   $11,482                                 25.0
                   $11,491                                 33.0
                   $12,114                                 34.0
...                                                         ...
Sub-Saharan Africa $6,944                                  24.0
                   $677                                    30.0
                   $735                                    35.0
                   $790                                    40.0
                   $9,884                                  28.0

                                         Tax Burden % of GDP  \
Region             GDP per Capita (PPP)
Americas           $1,815                               14.5
                   $11,102                              25.8
                   $11,482                              21.2
                   $11,491                              27.1
                   $12,114                              14.9
...                                                      ...
Sub-Saharan Africa $6,944                               23.7
                   $677                                  9.0
                   $735                                 12.3
                   $790                                 10.8
                   $9,884                               25.5

                                         Gov't Expenditure % of GDP   \
Region             GDP per Capita (PPP)
Americas           $1,815                                       19.7
                   $11,102                                      39.4
                   $11,482                                      38.5
                   $11,491                                      29.3
                   $12,114                                      37.4
...                                                              ...
Sub-Saharan Africa $6,944                                       31.0
                   $677                                         13.9
                   $735                                         23.6
                   $790                                         14.2
                   $9,884                                       33.9

                                         GDP Growth Rate (%)  \
Region             GDP per Capita (PPP)
Americas           $1,815                                1.2
                   $11,102                              -4.2
                   $11,482                               2.7
                   $11,491                               1.0
                   $12,114                             -14.0
...                                                      ...
Sub-Saharan Africa $6,944                                4.0
                   $677                                  4.0
                   $735                                  0.0
                   $790                                  3.4
                   $9,884                                0.2

                                         5 Year GDP Growth Rate (%)  \
Region             GDP per Capita (PPP)
Americas           $1,815                                       2.2
                   $11,102                                      0.0
                   $11,482                                      2.0
                   $11,491                                      1.1
                   $12,114                                     -7.8
...                                                             ...
Sub-Saharan Africa $6,944                                       2.0
                   $677                                        -4.5
                   $735                                         1.1
                   $790                                         6.1
                   $9,884                                       2.0

                                         Inflation (%)  Public Debt (% of GDP)
Region             GDP per Capita (PPP)
Americas           $1,815                         14.7                    31.1
                   $11,102                         0.6                    87.6
                   $11,482                         0.4                    45.0
                   $11,491                         2.0                    80.8
                   $12,114                      1087.5                    34.9
...                                                ...                     ...
Sub-Saharan Africa $6,944                          0.8                   126.0
                   $677                            3.8                    53.4
                   $735                           16.6                    56.7
                   $790                           41.5                    15.7
                   $9,884                          6.3                    29.2

[184 rows x 24 columns]

In [113]:
df_group2=df.groupby(['Region'])['Inflation (%)'].agg(['mean','median'])
df_group2

                                   mean  median
Region
Americas                      38.368750    3.05
Asia-Pacific                   3.595238    3.20
Europe                         2.579545    1.85
Middle East and North Africa   5.417647    2.00
Sub-Saharan Africa             7.282979    5.30

In [75]:
df_no_dollar=df.replace('$','')

In [78]:
show=df['GDP per Capita (PPP)']

In [79]:
show

CountryID
1       $1,958
2      $12,507
3      $15,237
4       $6,753
5      $20,876
        ...
179    $12,114
180     $6,913
181     $1,287
182     $3,996
183     $2,283
Name: GDP per Capita (PPP), Length: 186, dtype: object

In [80]:
show2=df_no_dollar['GDP per Capita (PPP)']

In [81]:
show2

CountryID
1       $1,958
2      $12,507
3      $15,237
4       $6,753
5      $20,876
        ...
179    $12,114
180     $6,913
181     $1,287
182     $3,996
183     $2,283
Name: GDP per Capita (PPP), Length: 186, dtype: object

In [94]:
df['GDP per Capita no Dollar']=df['GDP per Capita (PPP)'].replace("[^0-9\.-]","", regex=True)

In [108]:
df['GDP per Capita no Dollar']

CountryID
1       1958
2      12507
3      15237
4       6753
5      20876
       ...
179    12114
180     6913
181     1287
182     3996
183     2283
Name: GDP per Capita no Dollar, Length: 186, dtype: object

DataError: No numeric types to aggregate

In [110]:
df.head()

,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,...,"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP),GDP no Dollar,GDP per Capita no Dollar
CountryID,,,,,,,,,,,,,,,,,,,,,
1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,91.7,...,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3,1958,1958
2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,86.3,...,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.10",71.2,12507,12507
3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,76.4,...,$632.9,2.0,3.1,"$15,237",10,5.6,"1,203.00",25.8,15237,15237
4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,83.9,...,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.50",65.3,6753,6753
5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,69.3,...,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.00",52.6,20876,20876

In [119]:
df.dtypes #Important

Country Name                    object
WEBNAME                         object
Region                          object
World Rank                     float64
Region Rank                    float64
2019 Score                     float64
Property Rights                float64
Judical Effectiveness          float64
Government Integrity           float64
Tax Burden                     float64
Gov't Spending                 float64
Fiscal Health                  float64
Business Freedom               float64
Labor Freedom                  float64
Monetary Freedom               float64
Trade Freedom                  float64
Investment Freedom             float64
Financial Freedom              float64
Tariff Rate (%)                float64
Income Tax Rate (%)            float64
Corporate Tax Rate (%)         float64
Tax Burden % of GDP            float64
Gov't Expenditure % of GDP     float64
Country                         object
Population (Millions)           object
GDP (Billions, PPP)             object
GDP Growth Rate (%)            float64
5 Year GDP Growth Rate (%)     float64
GDP per Capita (PPP)            object
Unemployment (%)                object
Inflation (%)                  float64
FDI Inflow (Millions)           object
Public Debt (% of GDP)         float64
GDP no Dollar                   object
GDP per Capita no Dollar        object
dtype: object

In [134]:
df.astype({'GDP per Capita no Dollar':float}).dtypes

Country Name                    object
WEBNAME                         object
Region                          object
World Rank                     float64
Region Rank                    float64
2019 Score                     float64
Property Rights                float64
Judical Effectiveness          float64
Government Integrity           float64
Tax Burden                     float64
Gov't Spending                 float64
Fiscal Health                  float64
Business Freedom               float64
Labor Freedom                  float64
Monetary Freedom               float64
Trade Freedom                  float64
Investment Freedom             float64
Financial Freedom              float64
Tariff Rate (%)                float64
Income Tax Rate (%)            float64
Corporate Tax Rate (%)         float64
Tax Burden % of GDP            float64
Gov't Expenditure % of GDP     float64
Country                         object
Population (Millions)           object
GDP (Billions, PPP)             object
GDP Growth Rate (%)            float64
5 Year GDP Growth Rate (%)     float64
GDP per Capita (PPP)            object
Unemployment (%)                object
Inflation (%)                  float64
FDI Inflow (Millions)           object
Public Debt (% of GDP)         float64
GDP no Dollar                   object
GDP per Capita no Dollar       float64
2                               object
dtype: object

In [137]:
df_group3=df.groupby(['Region'])["GDP Growth Rate (%)"].agg(['mean','median'])
df_group3

                                  mean  median
Region
Americas                      1.587500    2.20
Asia-Pacific                  4.332558    4.00
Europe                        3.468182    3.25
Middle East and North Africa  4.817647    2.00
Sub-Saharan Africa            3.477083    3.75

In [ ]:
df_group4=df.groupby(['Region'])["GDP Growth Rate (%)"].agg(['mean','median'])
df_group4